*{
    margin: 0;
    padding: 0;
}

body {
    background: #2ccdd5;
    font-family: 'Inter', sans-serif;

    /*torna a fonte mas bonita no navegador, melhorando os pixels, embora seja quase imperceptivel de se perceber*/
    -webkit-font-smoothing: antialiased;

    
}

/* Header */

.header {
    padding: 0 30px;  
    border: 1px solid red;
      
}

.header__city-search-bar {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.header__input {
    border: none;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    appearance: none;
    margin-right: -15px;
}

.header__button {
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    border: none;
    border-radius: 100%;
    background: #393939;
    color: #f3f4fb;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
         rgba(0, 0, 0, 0.3,) 0px 8px 16px -8px;;
}